pybgs_env
**/__pycache__/
env
.venv*
datasets
models
zout
wandb
*.pyc
# keep models folder structure
!models/
models/*
!models/.gitkeep

# keep datasets folder structure
!datasets/
datasets/*
!datasets/.gitkeep

# keep zout folder structure
!zout/
zout/*
!zout/.gitkeep

__archived/datasets
src/.slack_env.yaml
uv.lock

*.aux
*.synctex.gz