pybgs_env
**/__pycache__/
env
.venv*
datasets
models
zout

*.pyc
# keep models folder structure
!models/
models/*
!models/.gitkeep

# keep datasets folder structure
!datasets/
datasets/*
!datasets/.gitkeep

# keep zout folder structure
!zout/
zout/*
!zout/.gitkeep

__archived/datasets
src/.slack_env.yaml
uv.lock

*.aux
*.synctex.gz

paper/3.fig/quality_analyses/src/unified_df.csv

__before_refactor/zextra/z_haze_error
__before_refactor/zextra/error_video

paper/4.table/__gpu_driver_for_FPS_version_560.94.exe
paper/mutagen.yml.lock

__before_refactor/zlabels_updated
__before_refactor/zout

__before_refactor/wandb